body{
    font-family: monospace;
}

.card{
    background-color:navajowhite;
    margin-top: 5%;
    border-color: darkred;
    border-width: 5px;
    border-style:groove;
}

img{
    margin: 10%;
    border-color:darkred;
    border-width: 5px;
    border-style: groove;
}

#search{
    margin-top: 2%;
    color: darkred;
    font-weight: bolder;
    background-color: navajowhite;
    border-color: darkred;
    border-width: 2px;
}

#searchButton{
    margin-top: 2%;
    background-color: navajowhite;
    color: darkred;
    font-weight: bolder;
    border-color: darkred;
    border-width: 2px;
}

#search{
    margin-top: 2%;
    color: darkred;
    font-weight: bolder;
    background-color: navajowhite;
    border-color: darkred;
    border-width: 2px;
}

h1{
    color: navajowhite;
    font-weight: bolder;
    text-decoration:underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
}