body{
    font-family: monospace;
}

.card{
    background-color:navajowhite;
    border-color: darkred;
    border-width: 5px;
    border-style:groove;
    margin: 10px;
    padding: 10px;
}

img{
    margin: 10%;
    border-color:darkred;
    border-width: 5px;
    border-style: groove;
}

h1, h2{
    color: navajowhite;
    font-weight: bolder;
    text-decoration:underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
}



.title{
    color: darkred;
    font-weight: bold;
    text-decoration: none;
}

h4 {
    font-weight: bold;
}


/* Code below here is all for the footer */

footer {
    position: relative;
    bottom: 0px;
    background-color: navajowhite;
    border-top: #8b0000;
    border-width: 3px;
    border-style: solid;
    border-left: navajowhite;
    border-right: navajowhite;
    border-bottom: navajowhite;

}


#Nutritionix_logo {
    width: 200px;
    height: auto;
    border: none;
}

#cocktaildb_logo {
    width: 200px;
    height: auto;
    border: none;
}