
body {
    font-family: monospace;
    color: white;
}

.card{
    background-color:navajowhite;
    border-color: darkred;
    border-width: 5px;
    border-style:groove;
    margin: 10px;
    padding: 10px;
}

img{
    margin: 10%;
    border-color:darkred;
    border-width: 5px;
    border-style: groove;
}

h1, h2{
    color: navajowhite;
    font-weight: bolder;
    text-decoration:underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
}



.title{
    color: darkred;
    font-weight: bold;
    text-decoration: none;
}


@media (max-width: 767px) {
    .card {
        margin: 10px;
        padding: 10px;
    }

    img {
        height: 150px;
    }

    .container {
        padding: 0 15px;
    }
}

.container {
    margin-top: 20px;
}

.container.text-center {
    margin-bottom: 20px;
}

#related-cocktails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#related-cocktails .card {
    width: 300px;
    flex-grow: 1;
}

.card-text {
    font-size: 1.1rem;
    color: darkslategray;
}


.mb-4 {
    margin-bottom: 2rem !important;
}

/* Code below here is all for the footer */
/* Code below here is all for the footer */

footer {
    position: relative;
    bottom: 0px;
    background-color: navajowhite;
    border-top: #8b0000;
    border-width: 3px;
    border-style: solid;
    border-left: navajowhite;
    border-right: navajowhite;
    border-bottom: navajowhite;
}


#Nutritionix_logo {
    width: 200px;
    height: auto;
    border: none;
}

#cocktaildb_logo {
    width: 200px;
    height: auto;
    border: none;
}

