
body {
    font-family: monospace;
    background-color: #343a40; /* Dark background for the body */
    color: white;
}


.card {
    background-color: navajowhite;
    border-color: darkred;
    border-width: 5px;
    border-style: groove;
    margin: 10px 0;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05); 
}

.card img {
    margin: 10%;
    border-color: darkred;
    border-width: 5px;
    border-style: groove;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

h1, h2 {
    color: navajowhite;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
}

.title {
    color: darkred;
    font-weight: bold;
    text-decoration: none;
}


@media (max-width: 767px) {
    .card {
        margin: 10px;
        padding: 10px;
    }

    img {
        height: 150px;
    }

    .container {
        padding: 0 15px;
    }
}

.container {
    margin-top: 20px;
}

.container.text-center {
    margin-bottom: 20px;
}

#related-cocktails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#related-cocktails .card {
    width: 300px;
    flex-grow: 1;
}

.card-text {
    font-size: 1.1rem;
    color: darkslategray;
}


.mb-4 {
    margin-bottom: 2rem !important;
}

