body{
    font-family: monospace;
}

img{
    margin: 10%;
    border-color:darkred;
    border-width: 5px;
    border-style: groove;
    /* height: 30rem;
    width: 20vw; */
    overflow: hidden;
    max-height: 350px;
    max-width: 250px;
    min-height: 350px;
    min-width: 150px;
}

.card{
    background-color:navajowhite;
    margin-top: 5%;
    border-color: darkred;
    border-width: 5px;
    border-style:groove;
}

h1{
    color: navajowhite;
    font-weight: bolder;
    text-decoration:underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
}